In [6]:
import pandas as pd

# Dataframe aanmaken
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['London', 'New York', 'Paris', 'Tokyo', 'Sydney'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}

employees = pd.DataFrame(data)
print(employees)
print()

# Laatste 2 rijen van kolommen Name & Salary
print(employees.loc[3:4, ["Name", "Salary"]])
print()

# Employees ouder dan 30 jaar
print(employees[employees["Age"] >= 30])
print()

      Name  Age      City  Salary
0    Alice   25    London   60000
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
3    David   28     Tokyo   70000
4     Emma   32    Sydney   65000

    Name  Salary
3  David   70000
4   Emma   65000

      Name  Age      City  Salary
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
4     Emma   32    Sydney   65000