In [8]:
import pandas as pd

# Dataframe aanmaken
data = {
    "EmployeeID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Department": ["HR", "IT", "Finance", "Marketing", "Sales"],
    "Salary": [60000, 75000, 80000, 70000, 65000]
}

employees = pd.DataFrame(data)

employees
print()

# Enkel 1ste 3 rijen tonen
print("Enkel 1ste 3 rijen tonen")
print(employees.head(3))
print()

# Summary statistics tonen van de salary-kolom
print("Statistics summary van de salary-kolom")
print(employees["Salary"].describe())
print()

# Aantal employees in elk departement
print("Aantal employees per departement")
print(employees["Department"].value_counts())
print()

# Gemiddelde salaris van de employees
print("Gemiddelde salaris van de employees is", employees["Salary"].mean())
print()

# Employee met het hoogste salaris
max_salaris = employees["Salary"].max()
print("Eployee met het hoogste salaris is", employees[employees["Salary"] == max_salaris])
print()

# Departement met het laagste salarisgemiddelde
min_avg_salaris_dept = employees.groupby("Department")["Salary"].mean().idxmin()
print("Departement met het laagste salarisgemiddelde is", min_avg_salaris_dept)
print()

# Salary increase
employees["Salary increase"] = employees["Salary"] * 1.1
print("Extra kolom met salarisverhoging")
print(employees)

Enkel 1ste 3 rijen tonen
   EmployeeID     Name Department  Salary
0         101    Alice         HR   60000
1         102      Bob         IT   75000
2         103  Charlie    Finance   80000

Statistics summary van de salary-kolom
count        5.00000
mean     70000.00000
std       7905.69415
min      60000.00000
25%      65000.00000
50%      70000.00000
75%      75000.00000
max      80000.00000
Name: Salary, dtype: float64

Aantal employees per departement
Department
HR           1
IT           1
Finance      1
Marketing    1
Sales        1
Name: count, dtype: int64

Gemiddelde salaris van de employees is 70000.0

Eployee met het hoogste salaris is    EmployeeID     Name Department  Salary
2         103  Charlie    Finance   80000

Departement met het laagste salarisgemiddelde is HR

Extra kolom met salarisverhoging
   EmployeeID     Name Department  Salary  Salary increase
0         101    Alice         HR   60000          66000.0
1         102      Bob         IT   75000          82500.0
2         103  Charlie    Finance   80000          88000.0
3         104    David  Marketing   70000          77000.0
4         105     Emma      Sales   65000          71500.0